body{
    margin: 0;
    
}
h1{
    text-align: center;
}
#global{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px auto 100px;
    text-align: center;
    row-gap: 5px;
    column-gap: 5px;
    /*équivaut à gap : 5px 5px;*/
    grid-template-areas: 
    "entete entete entete"
    "menu principal photo"
    "pieddepage pieddepage pieddepage";
}

header{
    background-color: paleturquoise;
   grid-area: entete;
   
}

nav{
    background-color: palegreen;
   grid-area: menu;
   
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: palegoldenrod;
   grid-area: principal;
    
    
}

aside{
    background-color: palevioletred;
  grid-area: photo;
   
}
aside img{
    width: 100%;
    height: auto;
    padding: 3px;
}

footer{
    background-color: rgb(220, 120, 220);
    grid-area: pieddepage;
    
}