h1{
    text-align: center;
}

#galerie{
    width: fit-content;
    height: auto;
    margin: 0 auto;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3,130px);
    /*Les propriétés suivantes (-items) indiquent l'alignement des contenus par rapport
    à leurs cellules*/
    justify-items: stretch;
    align-items: stretch;
    /*Les propriétés suivantes (-content) indiquent l'alignement de l'ensemble
     de la grille par rapport au conteneur*/
    justify-content: space-around;
    align-content: start;
    gap: 3px;
    grid-auto-columns: 130px;
    grid-auto-flow: column;
}

/*Les propriétées (-self) indiquent l'alignement d'un élément différent des autres*/
/*/#galerie img:nth-child(5){
    justify-self: start;
    align-self: stretch;
}*/

